<footer>
    <div class="f-info">
        <div class="f-info-socials">
           <a href=""> <i class="fa-brands fa-square-facebook"></i></a>
           <a href=""> <i class="fa-brands fa-linkedin"></i></a>
         <a href="">   <i class="fa-brands fa-square-instagram"></i></a>
        </div>
        <div class="rentobuddy">
 <h3>&#169; RentoBuddy Private Limited</h3>
        </div>
        <div class="f-info-links">
            <a href="/privary">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>