    <div class="container1 container">
        <img class="img-head" src="/img/email.png" alt="subscribe to email">
        <h1 class="title">subscribe</h1>
        <p class="description">Subscribe to our newsletter & stay updated</p>
        <div class="form-box mb-3">
            <div class="input-main">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                    <path
                        d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                </svg>
                <input type="email" name="email" placeholder="Your Email">
            </div>
            <button class="submit btn btn-dark" type="submit">Submit</button>
        </div>
    </div>



<!-- Footer -->
<footer class="text-center text-lg-start main-footer text-muted">
    <!-- Section: Social media -->
  
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="border-bottom">
      <div class="container text-center text-md-start secfooter">
        <!-- Grid row -->
        <div class="row mt-3 ">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <a class="navbar-brand" href="/listings"><img  src="/img/main.png" alt="" style="max-width: 140px;"></a>
            <p>
                The RentoBddy Platform offers an online venue that enables users (“Members”) to publish, offer, search for, and book services
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold text-black mb-4">
             <b> Products</b>
            </h6>
            <p>
              <a href="#!" class="text-reset">List Your Property</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Blogs</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Support</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Guest Policy</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Trust and Safety</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Feedback</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase text-black fw-bold mb-4">
             <b> Useful links</b>
            </h6>
            <p>
              <a href="#!" class="text-reset ">Careers</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Newsroom</a>
            </p>
            <p>
              <a href="#!" class="text-reset">About Us</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Get in Touch</a>
            </p>
            <p>
                <a href="#!" class="text-reset">privacy Policy</a>
              </p>
            <p>
              <a href="#!" class="text-reset">Terms & Conditions</a>
            </p>
           
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase  text-black fw-bold mb-4"><b>Contact</b></h6>
            <p><i class="fas fa-home me-3 text-secondary"></i> Noida, Utter Pradesh, India</p>
            <p>
              <i class="fas fa-envelope me-3 text-secondary"></i>
              info@example.com
            </p>
            <p><i class="fas fa-phone me-3 text-secondary"></i> + 91 9870611047</p>
            <p><i class="fas fa-print me-3 text-secondary"></i> + 91 9548952114</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
          <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->
    
        <!-- Right -->
        <div class="">
            <section class="">
                <!-- Facebook -->
                <a
                  class="btn text-white btn-floating m-1"
                  style="background-color: #3b5998;"
                  href="#!"
                  role="button"
                  ><i class="fab fa-facebook-f"></i
                ></a>
          
                <!-- Twitter -->
                <a
                  class="btn text-white btn-floating m-1"
                  style="background-color: #55acee;"
                  href="#!"
                  role="button"
                  ><i class="fab fa-twitter"></i
                ></a>
          
                <!-- Google -->
                <a
                  class="btn text-white btn-floating m-1"
                  style="background-color: #dd4b39;"
                  href="#!"
                  role="button"
                  ><i class="fab fa-google"></i
                ></a>
          
                <!-- Instagram -->
                <a
                  class="btn text-white btn-floating m-1"
                  style="background-color: #ac2bac;"
                  href="#!"
                  role="button"
                  ><i class="fab fa-instagram"></i
                ></a>
          
                <!-- Linkedin -->
                <a
                  class="btn text-white btn-floating m-1"
                  style="background-color: #0082ca;"
                  href="#!"
                  role="button"
                  ><i class="fab fa-linkedin-in"></i
                ></a>
                <!-- Github -->
                <a
                  class="btn text-white btn-floating m-1"
                  style="background-color: #333333;"
                  href="#!"
                  role="button"
                  ><i class="fab fa-github"></i
                ></a>
              </section>
        </div>
        <!-- Right -->
      </section>
  
   
  </footer>
  <!-- Footer -->
  <footer class="bg-dark text-center text-white">
    <!-- Grid container -->
 
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023,
      <a class="text-white" href="#"> RentoBuddy</a> Inc.All rights reserved. 
    </div>
    <!-- Copyright -->
  </footer>