<nav class="navbar navbar-expand-md  bg-body-light border-bottom sticky-top">
    <div class="container-fluid ">
        <a class="navbar-brand" href="#"><img  src="/img/main.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link active" href="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/listings">All listings </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/listings/new">Add new listing</a>
                </li>
                
            </ul>
        </div>
        <div class="collapse navbar-collapse  " >
            <ul class="navbar-nav ms-auto">
                <% if (!currUser) { %>
                      <li class="nav-item">
                    <a class="nav-link active" href="/signup">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Log in </a>
                </li>
               <% } %>
              
                <% if (currUser) { %>
                    <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                    <% } %>
               
                
            </ul>
        </div>
    </div>
</nav>