<% layout("/layouts/boilerplate") %>
  <body>
    <h3>All Listings</h3>
   

   <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
    <% for(let listing of allListings) { %>
     <a href="listings/<%= listing._id %>" class="listing-link">
      <div class="card col listing-card" style="width: 18rem;">
        <img src="<%= listing.image %>" style="height: 20rem;" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            <b><%= listing.title %></b> <br>
            &#8377; <%= listing.price.toLocaleString("en-In") %> /night %>
          </p>
        </div>

        <div class="card-img-overlay"></div>
      </div>
    </a>
      <% } %>
   </div>

   
  </body>
