<% layout("/layouts/boilerplate") %>


  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-3">
        <% for(let listing of allListings) { %>
            <div class="col mb-4">
                <a href="listings/<%= listing._id %>" class="listing-link">
                    <div class="card listing-card">
                        <img src="<%= listing.image.url %>" style="height: 20rem;" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">
                                <b><%= listing.title %></b> <br>
                                &#8377; <%= listing.price.toLocaleString("en-IN") %> /night
                                <i class="tax-info"> &nbsp; &nbsp;+18% GST</i>
                            </p>
                        </div>
                        <div class="card-img-overlay"></div>
                    </div>
                </a>
            </div>
        <% } %>
    </div>
</div>

