<% layout("/layouts/boilerplate") %>

<style>
.create-list{
    box-shadow: rgba(247, 5, 5, 0.351) 0px 5px 15px;
    padding: 30px;
    border-radius: 20px;
}
.create-list input{
        border-radius: 50px;
    }

.red-underline {
        display: inline-block;
        position: relative;
    }
.description1{
    border-radius: 50px;
    padding-left: 30px;
    color: black;
}
    .red-underline:after {
        content: "";
        position: absolute;
        width: 60%;
        height: 4px;
        background-color: red;
        bottom: -10px; /* Adjust this value to control the gap */
        left: 60px;
        border-radius: 20px;
    }
    .add{
        width: 100%;
        border-radius: 50px;
    }
    @media only screen and (max-width: 770px){
 
}
</style>

<body>
    <div class="row justify-content-center">
        <div class="col-md-8 ">
            <h3 class="mt-4 mb-5  text-center "><span class="red-underline"><b>Create New Listing!</b></span></h3>
            <form method="POST" action="/" novalidate class="needs-validation create-list mb-5" enctype="multipart/form-data">
                
                <div class="mb-2">
                    <label for="title" class="form-label"><b>Title</b></label>
                    <input name="listing[title]" placeholder="Enter title" type="text" required class="form-control" />

                    <div class="valid-feedback">
                        Title looks good!
                    </div>
                </div>

                <div class="mb-2">
                    <label for="description" class="form-label"><b>Description</b></label>
                    <textarea name="listing[description]" rows="4" cols="10" placeholder="Write listing description" class="form-control description1" required></textarea>
                </div>

                <div class="mb-2">
                    <label for="image" class="form-label"><b>Upload Image</b></label>
                    <input name="listing[image]" placeholder="Enter image URL/Link" type="file" class="form-control" />
                </div>

                <div class="row">
                    <div class="mb-2 col-md-4">
                        <label for="price" class="form-label"><b>Price</b></label>
                        <input name="listing[price]" placeholder="Enter price" type="number" required
                            class="form-control" />

                        <div class="invalid-feedback">
                            Please provide price.
                        </div>
                    </div>

                    <div class="mb-2 col-md-8">
                        <label for="country" class="form-label"><b>Country</b></label>
                        <input name="listing[country]" placeholder="Enter country" type="text" required
                            class="form-control" />

                        <div class="invalid-feedback">
                            Please provide a valid country.
                        </div>
                    </div>
                </div>

                <div class="mb-2">
                    <label for="location" class="form-label"><b>Location</b></label>
                    <input name="listing[location]" placeholder="enter location" type="text" required
                        class="form-control" />

                    <div class="invalid-feedback">
                        Please provide a valid Location.
                    </div>
                </div>
                <br>
                <button class="btn btn-dark samebtn add"><b>Add</b></button>
                <br><br>
            </form>
            <hr class="mb-5">
        </div>
    </div>
</body>