body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
.container{
    flex: 1;
}
.navbar{
    height: 4rem;
    background-color: #fff;
   
}
.navbar-brand img{
    max-width: 100%;
}
.navbar-brand{
    display: block;
    height: auto;
    width: 100px;
    padding :0px;
    margin-right: 15px;
    margin-left: 3rem;
}
.nav-link{
    color: #222222 !important;
    font-size: 17px;
}







.f-info-links{
    width: 100%;
    padding: 10px;
}
.f-info-links a{
   text-decoration: none;
    color:#222222;
    

}
.f-info-socials{
    width: 100%;
    font-size: 1.2rem;
    padding: 10px;

}
.f-info-socials i{
    margin-right:1.2rem ;
}

.f-info-links a:hover{
    text-decoration: underline;

}

.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}




.listing-card{
    border: none !important;
    margin-bottom: 2rem;

}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body {
    padding: 0 !important;
}

.card-text p{
    font-weight: 800;
}

.listing-link{
    text-decoration: none;
    
}

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.samebtn{
    background-color: #bc0404 !important;
    border: none !important;
    color: white;
}






.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}
.card-text{

    margin: 0;
}