<% layout("/layouts/boilerplate") %>
<style>
    .red-underline {
        display: inline-block;
        position: relative;
    }

    .red-underline:after {
        content: "";
        position: absolute;
        width: 60%;
        height: 4px;
        background-color: red;
        bottom: -10px; /* Adjust this value to control the gap */
        left: 80px;
        border-radius: 20px;
    }
    .signup-img{
        max-width: 80%;
    }
    .signup-form{
        /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 20px; */
    }
    .signupbtn2{
        border-radius: 50px;
        width: 100%;
       
    }
    .signup-form input{
        border-radius: 50px;
    }

    @media only screen and (max-width: 995px){
  .signup-img{
    display: none;
  }
}


</style>



<div class="row mt-3 mb-3">
    <h1 class="text-center mt-3 mb-3"><b><span class="red-underline">SignUp with RentoBuddy</span></b></h1>
     <!-- Right side for the image -->
     <div class="col-6  d-md-block d-none">
        <img src="/img/Sign up-cuate.png" alt="Image" class="img-fluid signup-img">
    </div>
    <!-- Left side for image -->
    <div class="col-lg-6 col-md-12  justify-content-center signup-form mt-4">
        
        <form action="/signup" method="POST" novalidate class="needs-validation">
            <div class="mb-2">
                <label for="username" class="form-label">Username</label>
                <input name="username" placeholder="Enter your username" id="username" type="text" required class="form-control" />
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-2">
                <label for="Email" class="form-label">Email</label>
                <input name="email" placeholder="Enter your email" id="Email" type="email" required class="form-control" />
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input name="password" placeholder="Enter your password" id="password" type="password" required class="form-control" />
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <button class="btn btn-dark signupbtn2">Sign Up</button>

            <h6 class="mt-4 text-center">Already have an account? <a href="/login" style="color: #d50100;">Login</a></h6>
        </form>

        
    </div>

   
</div>
<hr>